html, body {
    background-color: $black;
}

.noscroll {
    overflow: hidden;
}

.header__logo-wrapper, .header__menu-wrapper {
    background-color: $light-gray;
}

.mu-header__logo {
    background-color: $medium-gray;
}

.mu-header {
    .ent-header-locales--dropdown {
        .submenu {
            margin: 0;
            left: -10px;
            top: 30px;
        }
    }
    
    .ent-header-locales--list {
        text-transform: uppercase;
    }
    
    .ent-widget-icons {
        margin: 0;
        padding: 0;
    }
}

main {
    @include mu-with-gutter-size(1, padding-top, padding-bottom);
    min-height: 40vh;
    background-color: $white;
    overflow-x: hidden;
}

footer {
    @include mu-with-gutter-size(1, padding-top);
    padding-bottom: 100px;
    color: $medium-gray;
    background-color: $black;
    
    .ent-widget-icons {
        text-align: right;
    }
}
