<section class="xarxa-intro intro-section intro-section--primary mu-bg mu-bg--primary">
    <div class="row">
        <div class="small-12 medium-4 columns">
            <h2>{{ title }}</h2>
            <hr class="separator">
        </div>
        <div class="small-12 medium-8 columns intro-section__intro">
            {{ intro|wpautop }}
        </div>
    </div>
</section>
